extends layout

block content
    .container
        
        .page-header
            h1 Authentication App
        
        h2.text-center Welcome #{user}, You can also 
            a(href='/logout') Log Out
